############
# IMP. The below token should not be stored in version control
############
do_token            = ""
do_region           = ""
domain              = ""
do_droplet_image    = ""
do_droplet_size     = ""
hcp_client_id       = ""
hcp_client_secret   = ""
github_actor        = ""
environtment        = ""
deployedby          = ""
owner               = ""
